.nav-bar{
    padding: 1rem;
    
}
.nav-link{
    color: #fff;
    font-weight: 500;
    font-size: 1rem;
    text-transform: uppercase;
}
.nav-link:hover{
    color: #3bc5af;
}
.navbar-nav .nav-link.active, .navbar-nav .nav-link.show{
    color: #3bc5af;
}
.logo{
    width: 120px;
}