.profile-img{
   width: 70%;
   margin: auto;
}
.profile-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
}
.home{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:3rem 2rem 3rem ;
    margin: auto;
}
.left-cont{
    width: 50%;
}
.right-cont{
    width: 50%;
}

.profile-info h1{
    font-size: 1.6rem;
    color: #3bc5af;
    font-weight: 400;
    margin-bottom: 1rem;
}
.profile-info p{
    font-size: 3rem;
    color: #fff;
    line-height: 1;
}
.profile-info b{
    color: #3bc5af;
    font-size: 3rem;
    font-weight: 400;
    margin: 1rem 0;
    display: block;
}
.profile-info  .profile-text{
    font-size: 1rem;
    color: #fff;
    line-height: 1.5;
}
.btn-download{
    background-color: transparent;
    color: #3bc5af;
    font-size: 1rem;
    font-weight: 400;
    padding: 1rem 2rem;
    border: 2px solid #3bc5af;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
    text-decoration: none;
    display: inline-block;
}
.btn-download:hover{
    background-color: #3bc5af;
    color: #fff;
}


